body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  font-size: 1.3rem !important;
  background: #f1f1f1 !important;
  font-weight: normal !important;
}

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}
a.header-link {
  margin: 5px;
}
a.active {
  color: red;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #39ace7;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type="text"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type="text"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type="text"]:placeholder {
  color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}

/* OTHERS */

*:focus {
  outline: none;
}

#icon {
  width: 60%;
}
.header-image {
  background-image: url("http://placehold.it/1900x1080");
  height: 300px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 15px;
  z-index: 1040 !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffffff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.nav-link-slide-bar {
  display: block;
  transition: transform 0.8s cubic-bezier(0.7, 0, 0.3, 1) 0s;
  padding: 0.8em;
  color: #b8b7ad;
  text-decoration: none;
  font-weight: bold;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-right: 8px;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.nav-link-slide-bar:hover {
  color: #a90000;
}
.fa-mis-eventos-o:before {
  content: "\f073";
}
.fa-mis-sync-o:before {
  content: "\f079";
}

.fa-panel-o:before {
  content: "\f080";
}
.sweet-loading {
  background: rgba(26, 26, 26, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
}
.sponsors-list-img {
  width: 80px;
}
.form-error {
  margin-top: 5px;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eeeeee -moz-use-text-color #ffffff;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}
.qr-panel {
  width: 100%;
  height: 415px;
}
.social-network-shared {
  float: left;
  width: 100%;
}
.social-network-shared div {
  float: left;
  margin: 5px;
}
.tab-content {
}

.lgx-speakers {
  background-color: #f1f1f1;
}
.logo {
  width: 180px;
}
.header-menu-dark {
  background-color: rgba(27, 39, 61, 0.95) !important;
  height: 60px;
}
.col-xs-12 {
  width: 100%;
}
.logo-header {
  width: 110px;
  margin-left: 100px;
}
.qrcore-wrapper {
  width: 250px !important;
  height: 250px !important;
}

.img-report-assitance {
  height: 350px;
}
.img-slack {
  width: 300px;
}
.lgx-social-footer li {
  cursor: inherit;
}
.qr-container {
  width: 100%;
  text-align: center;
}
.img-preview-list-events {
  width: 100px;
}
.platform-icon {
  width: 25px;
}
@media (min-width: 992px) {
  .col-md-offset-3 {
    margin-left: 25%;
  }
}
.btn-full-width {
  width: 100%;
}
.lgx-single-news-images {
  text-align: center;
}
.lgx-single-news-images img {
  width: 150px;
}
.img-preview-badge-assign {
  width: 60px;
}
.video-container-popup {
  width: 2000px;
}
.image-badge-prview {
  max-width: 250px;
  max-height: 250px;
  min-width: 128px;
  min-height: 128px;
  text-align: center;
}
.badge-description-toolbar {
  min-width: 400px;
}
.badge-description-wrapper {
  min-width: 400px;
}
.badge-description-editor {
  min-width: 400px;
  min-height: 400px;
  background-color: #ffffff;
}
.profile-img {
  width: 360px;
  height: 387px;
}
a {
  cursor: pointer !important;
}
.events-actions-button {
  width: 50px;
}

.not-found-component {
  text-align: center;
}
.not-found-component img {
  margin: 20px;
}
.not-found-component h1 {
  font-weight: bold;
  font-size: 35px;
}
.not-found-component p {
  font-size: 20px;
  margin: 45px;
}

.not-found-component h2 {
  font-size: 100px;
  margin: 0px 0px 20px 20px;
}
.img-preview-member {
  width: 40px;
}
.button-action {
  text-align: center;
}

.dropdown-menu li {
  display: inline-block;
  position: relative;
  float: left;
  width: 200px;
  line-height: 35px;
  text-decoration: none;
}
.navbar {
  opacity: 0.9;
}

.authenticate-conteiner {
  text-align: center !important;
}
.home-sponsor-container {
  height: 100px !important;
}
.qr-lector-container video {
  width: 100%;
}
.nav-link-dropdown {
  color: #0d0d0d !important;
}
